<h1>Prueba local Storage</h1>

<form [formGroup]="formulario" class=" form-group mb-5 mt-3 d-flex p-2 flex-column w-100">
  <input type="text" formControlName="key" placeholder="key" class=" form-control form-control-lg mb-3">
  <input type="text" formControlName="value" placeholder="value" class="form-control form-control-lg">

</form>
<div class="d-flex flex-column w-100">
<button (click)="onSubmit()" class=" btn btn-primary m-1">Agregar al sesion</button>
<button (click)="onDelete()" class=" btn btn-secondary m-1">Eliminar la key</button>
<button class="btn btn-danger m-1" (click)="onDeleteAll()" >Eliminar todo</button>
</div>


<br>
<div >
  <h2>Session Storage Items</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let key of sessionStorageItems | appKeys">
    <strong> {{key}}: </strong> {{sessionStorageItems[key] | json}}
    </li>
  </ul>
</div>
